
.search-list {
  overflow-y: scroll!important;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 0;
  padding-bottom: 0;
}

.search-bar {
  padding-bottom: 0;
}

.search-bar-item {
  --background: transparent !important;
}

.main-list {
  overflow-y: scroll!important;
  background: transparent !important;
  margin-top: 20%;
}

.searchbar-green {
  --icon-color: green;
  color: green;
}

.searchbar-red {
  --icon-color: red;
  color: red;
}
