<ion-list class="main-list">
  <ion-item class="search-bar-item">
    <ion-searchbar animated
              show-cancel-button=true
              searchIcon="person"
              class="search-bar"
              [ngClass]="{'searchbar-green': correctSlectedDriver,
                          'searchbar-red': !correctSlectedDriver}"
              placeholder="Conductor Actual"
              (ionCancel)="searchBarActive = false"
              (ionFocus)="searchBarActive = true"
              (ionChange)="filterWithSearch(selectedDriver)"
              [(ngModel)]="selectedDriver">
    </ion-searchbar>
  </ion-item>
  <ion-list *ngIf=searchBarActive class="search-list">
    <ion-item *ngFor="let driver of driversFiltered" (click)="selectItem(driver)">
      {{ driver }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf=!searchBarActive class="search-list">
    <ion-item *ngFor="let driver of driversFiltered">
      CACA
    </ion-item>
  </ion-list>
</ion-list>

<ion-tabs style="overflow-y: scroll!important;">

  <ion-tab-bar slot="bottom">
    <ion-tab-button [ngClass]="{'tab-button-active': buttonTabActiveDicc['barcode'],
                                'tab-button-inactive': !buttonTabActiveDicc['barcode']}"
                    (click)="changeTabButton('barcode')">
      <ion-icon name="barcode"></ion-icon>
      <ion-label>Registrar</ion-label>
      <ion-badge style="background: red;">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'tab-button-active': buttonTabActiveDicc['resume'],
                                'tab-button-inactive': !buttonTabActiveDicc['resume']}"
                    (click)="changeTabButton('resume')">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Resumen</ion-label>
    </ion-tab-button>

    <ion-tab-button [ngClass]="{'tab-button-active': buttonTabActiveDicc['packing'],
                                'tab-button-inactive': !buttonTabActiveDicc['packing']}"
                    (click)="changeTabButton('packing')">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Packing</ion-label>
    </ion-tab-button>

    <ion-tab-button  [ngClass]="{'tab-button-active': buttonTabActiveDicc['share'],
                                'tab-button-inactive': !buttonTabActiveDicc['share']}"
                    (click)="changeTabButton('share')">
      <ion-icon name="share"></ion-icon>
      <ion-label>Compartir Info.</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
