
.search-list {
  overflow-y: scroll!important;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: inherit;
}

.search-bar {
  padding-bottom: 0;
}

.search-bar-item {
  --background: transparent !important;
}

.main-list {
  overflow-y: scroll!important;
  background: transparent !important;
  margin-top: 20%;
  z-index: inherit;
}

.searchbar-green {
  --icon-color: green;
  color: green;
}

.searchbar-red {
  --icon-color: red;
  color: red;
}

.tab-button-active {
  color: dodgerblue;
}

.tab-button-inactive {
  color: black;
}

.vin-input {
  border-radius: 10px;
  border-width: medium;
  --background: #f1f1f1;
  border-color: black;
  border-bottom: solid;
  text-align: center;
  font-size: x-large;
}

.total-count {
  overflow-y: scroll!important;
  margin-top: 5%;
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: inherit;
}

.general-count {
  --ion-safe-area-right: 0;
}

.resume-list {
  margin-right: 2%;
  margin-left: 2%;
}

.forecast_container{
  overflow-x: scroll!important;
  // overflow-y: hidden;
  //word-wrap: break-word;
  height: auto;
  font-size:0.8em;
  font-weight:700;
}

.preview {
  --min-height: 450px;
}

.preview-col {
  width: auto;
  border-left-width: thin;
  border-left-color: black;
  border-left-style: solid;
  border-right-width: thin;
  border-right-color: black;
  border-right-style: solid;
}

.header-row {
  background-color: #a2a4ab;
  color: white;
  padding-right: 10px;
  padding-left: 5px;
}

.info-row {
  background-color: greenyellow;
  color: black;
  padding-right: 10px;
  padding-left: 5px;
  white-space: nowrap;
}
