<ion-list class="main-list">
  <ion-item class="search-bar-item">
    <ion-searchbar animated
              show-cancel-button=true
              searchIcon="person"
              class="search-bar"
              [ngClass]="{'searchbar-green': correctSlectedDriver,
                          'searchbar-red': !correctSlectedDriver}"
              placeholder="Conductor Actual"
              (ionCancel)="searchBarActive = false"
              (ionFocus)="searchBarActive = true"
              (ionChange)="filterWithSearch(selectedDriver)"
              [(ngModel)]="selectedDriver">
    </ion-searchbar>
  </ion-item>
  <ion-list *ngIf=searchBarActive class="search-list">
    <ion-item *ngFor="let driver of driversFiltered" (click)="selectItem(driver)">
      {{ driver }}
    </ion-item>
  </ion-list>
</ion-list>
