<ion-grid no-margin>
  <!-- MAIN DRIVERS TITLE -->
  <div *ngIf="settedOption == 'main'">
    <ion-row>
      <ion-card class="main-card">
        <ion-card-content class="title-card-content">
          <ion-label><b style="color: red; ">C</b>onductores </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>

  <!-- BACK ARROW -->
  <div *ngIf="settedOption != 'main'">
    <ion-row style="margin-top: 20%;">
      <ion-col size="3">
        <ion-card class="main-card-back" (click)="changeViewOption('main')">
          <ion-card-content class="title-card-content" no-padding>
            <ion-icon style="font-size:x-large;" name="arrow-back"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="9">
      </ion-col>
    </ion-row>
  </div>

  <!-- MAIN OPTION -->
  <div *ngIf="settedOption == 'main'">
    <ion-row style="margin-top: 10%;">
      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('new')">
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="add"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Crear</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('edit')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="create"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Editar</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('delete')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="trash"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Eliminar</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <ion-card class="main-card-options" (click)="changeViewOption('list')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center style="paddin-left: 5%; paddin-right: 5%;">
                <ion-col size="8" text-center no-padding style="font-size: x-large;">
                  <ion-label>Ver Listado de Conductores</ion-label>
                </ion-col>
                <ion-col size="4" text-center no-padding style="align-self: center;">
                  <ion-icon style="font-size: -webkit-xxx-large;" name="people"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <!-- LIST OPTION -->
  <div *ngIf="settedOption == 'list'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-list">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="drivers" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" text-center no-padding>
                      <ion-label><b>Conductor</b></ion-label>
                    </ion-col>
                    <ion-col size="4" text-center no-padding>
                      <ion-label><b>Rut</b></ion-label>
                    </ion-col>
                    <ion-col size="4" text-center no-padding>
                      <ion-label><b>Sind.</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <div style="overflow-y: scroll !important;">
              <ion-item *ngFor="let driver of drivers">
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="align-self: center;" text-center no-padding>
                      <p text-wrap >{{ driver['name'] }}</p>
                    </ion-col>
                    <ion-col size="4" style="align-self: center;" text-center no-padding>
                      <ion-label>{{ driver['rut'] }}</ion-label>
                    </ion-col>
                    <ion-col size="4" style="align-self: center;" text-center no-padding>
                      <ion-label>{{ driver['unionized'] ? 'Sí':'No' }}</ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <!-- NEW OPTION -->
  <div *ngIf="settedOption == 'new'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-new">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="drivers" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col>
                      <ion-label style="font-size: x-large;"><b>Nuevo Conductor</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="3" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewDriverForm['name']" class="blank-camp">*</span>
                        <b>Nombre: </b></ion-label>
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Nombre"
                                 [(ngModel)]="diccNewDriverForm['name']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="6" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewDriverForm['fatherLastName']" class="blank-camp">*</span>
                        <b>Apellido Paterno: </b></ion-label>
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Apellido Paterno"
                                 [(ngModel)]="diccNewDriverForm['fatherLastName']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="6" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewDriverForm['motherLastName']" class="blank-camp">*</span>
                        <b>Apellido Materno: </b></ion-label>
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Apellido Materno"
                                 [(ngModel)]="diccNewDriverForm['motherLastName']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewDriverForm['rut']" class="blank-camp">*</span>
                        <b>Rut: </b></ion-label>
                    </ion-col>
                    <ion-col size="8" text-center no-padding>
                      <ion-input class="name-input" placeholder="11.111.111-1"
                                 [(ngModel)]="diccNewDriverForm['rut']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="5" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewDriverForm['unionized']" class="blank-camp">*</span>
                        <b>Sindicalizado: </b></ion-label>
                    </ion-col>
                    <ion-col size="4">
                    </ion-col>
                    <ion-col size="3" style="text-align: right;" no-padding>
                      <ion-select [interfaceOptions]="customActionSheetOptions"
                                  interface="action-sheet"
                                  placeholder="No"
                                  class="name-input"
                                  [(ngModel)]="diccNewDriverForm['unionized']"
                                  no-padding>
                        <ion-select-option value=true>Sí</ion-select-option>
                        <ion-select-option value=False>No</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button style="--background: dimgrey;"
                                  [disabled]="!diccNewDriverForm['name'] ||
                                              !diccNewDriverForm['fatherLastName'] ||
                                              !diccNewDriverForm['motherLastName'] ||
                                              !diccNewDriverForm['rut'] ||
                                              !diccNewDriverForm['unionized']"
                                  (click)="validateAllInfo()">
                        <b>Crear Conductor</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>



  <!-- EDIT OPTION -->
  <div *ngIf="settedOption == 'edit'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-new">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="drivers" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col>
                      <ion-label style="font-size: x-large;"><b>Modificar Conductor</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Conductor: </b></ion-label>
                    </ion-col>
                    <ion-col size="8" text-center no-padding>
                      <ion-select [interfaceOptions]="customActionSheetOptions"
                                  interface="action-sheet"
                                  placeholder="Conductor"
                                  [(ngModel)]="driverToModify"
                                  [disabled]="selectDriverToModifyDisable"
                                  (ngModelChange)="modifyDriverAlert($event)"
                                  class="name-input"
                                  no-padding>
                        <ion-select-option *ngFor="let driver of drivers" [value]=driver> {{ driver['name'] }} </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <div *ngIf="driverToModify">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="3" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Nombre: </b></ion-label>
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Nombre"
                                 [(ngModel)]="diccModifyDriverForm['name']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="6" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Apellido Paterno: </b></ion-label>
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Apellido Paterno"
                                 [(ngModel)]="diccModifyDriverForm['fatherLastName']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="6" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Apellido Materno: </b></ion-label>
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Apellido Materno"
                                 [(ngModel)]="diccModifyDriverForm['motherLastName']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Rut: </b></ion-label>
                    </ion-col>
                    <ion-col size="8" text-center no-padding>
                      <ion-input class="name-input" placeholder="11.111.111-1"
                                 [(ngModel)]="diccModifyDriverForm['rut']"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="5" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Sindicalizado: </b></ion-label>
                    </ion-col>
                    <ion-col size="4">
                    </ion-col>
                    <ion-col size="3" style="text-align: right;" no-padding>
                      <ion-select [interfaceOptions]="customActionSheetOptions"
                                  interface="action-sheet"
                                  placeholder="No"
                                  class="name-input"
                                  [(ngModel)]="diccModifyDriverForm['unionized']"
                                  no-padding>
                        <ion-select-option>Sí</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button style="--background: dimgrey;"
                                  [disabled]="!diccModifyDriverForm['name'] ||
                                              !diccModifyDriverForm['fatherLastName'] ||
                                              !diccModifyDriverForm['motherLastName'] ||
                                              !diccModifyDriverForm['rut'] ||
                                              !diccModifyDriverForm['unionized']"
                                  (click)="validateAllInfoToModify()">
                        <b>Modificar Conductor</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button (click)='driverToModify = null; selectDriverToModifyDisable = false' style="--background: dimgrey;">
                        <b>Cancelar</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>



</ion-grid>
