<ion-grid no-margin style="overflow-y: scroll!important;">
  <ion-row style="margin-top:15%;">
      <ion-col size="0.5">
      </ion-col>

      <ion-col size="11">
        <ion-row>
          <ion-card class="title-card">
            <ion-card-header class="title-header">
              <ion-card-title>
                <ion-grid>
                  <ion-row>
                    <ion-col size="1"></ion-col>
                    <ion-col size="6">
                      Puertos<br>Actuales
                    </ion-col>
                    <ion-col size="4" no-padding class="icon-title-col">
                      <ion-icon class="title-icon" name="alarm"></ion-icon>
                    </ion-col>
                    <ion-col size="1"></ion-col>
                  </ion-row>
                </ion-grid>

              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-row>
        <ion-row>
          <ion-card class="main-card">
            <ion-card-content>

              <!-- Row for actives ports titles -->
              <ion-row>
                <ion-col size="1">
                </ion-col>
                <ion-col size="11">
                  <ion-row (click)=changeActiveListValue()>
                    <ion-col size="2" style="padding-right: 0; padding-top: 0">
                      <ion-icon class="increase-icon" style="color: #17ff0f; padding-top: 1%;" name="wifi"></ion-icon>
                    </ion-col>
                    <ion-col size="10" style="padding-left: 0;">
                      <ion-label style="padding-left: 10%;"> Activos ({{ portsList?.length }}): </ion-label>
                      <ion-icon *ngIf="activeItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropup"></ion-icon>
                      <ion-icon *ngIf="!activeItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropdown"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <!-- *ngFor Item -->
              <ion-row *ngIf="activeItemsList">
                <ion-list style="width: 100%; border-radius: 40px;">
                  <ion-item  *ngFor="let item of portsList" class="item item-text-wrap">
                    <ion-grid *ngIf="!item.finished">
                    <ion-row style="width: 100%;" (click)="item.showDetail = !item.showDetail">
                      <ion-col size="8" style="padding-bottom: 0px;">
                          {{ item.shipName }}
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                          {{ item.unitsInPacking.totalQuantity }}
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon *ngIf="!item.showDetail" style="padding-top: 3%;" name="add"></ion-icon>
                        <ion-icon *ngIf="item.showDetail" style="padding-top: 3%;" name="remove"></ion-icon>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col style="color: #808080cf; font-size: small; padding-top: 0px;">
                        {{ item.importer.name }}
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-progress-bar color="primary" value="{{ item.collectedUnits.totalQuantity/item.unitsInPacking.totalQuantity }}"></ion-progress-bar>
                    </ion-row>
                    <!-- Detail -->
                    <div *ngIf="item.showDetail">
                      <ion-row class="rows-details-items" style="padding-top: 5%;">
                        <ion-col size="6" no-padding>
                            Total Retiradas:<br>
                            <p style="color: green; font-size: 150%; text-align: center">{{ item?.collectedUnits?.totalQuantity }}</p>
                        </ion-col>
                        <ion-col size="6" no-padding>
                            Total Faltantes:<br>
                             <p style="color: red; font-size: 150%; text-align: center">
                               {{ item?.unitsInPacking?.totalQuantity - item?.collectedUnits?.totalQuantity}}
                             </p>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items" style="padding-top: 1%;">
                        <ion-col style="text-align: center;">
                          <b>Detalle Tamaños</b>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items">
                        <ion-col size="6" no-padding>
                          <div *ngIf="item.unitsInPacking.smallQuantity!=0">-Pequeñas: <span style="color: green;">{{ item?.collectedUnits?.smallQuantity }}<br></span></div>
                          <div *ngIf="item.unitsInPacking.mediumQuantity!=0">-Medianas: <span style="color: green;">{{ item?.collectedUnits?.mediumQuantity }}<br></span></div>
                          <div *ngIf="item.unitsInPacking.bigQuantity!=0">-Grandes: <span style="color: green;">{{ item?.collectedUnits?.bigQuantity }}<br></span></div>
                          <div *ngIf="item.unitsInPacking.extraQuantity!=0">-Extra G.: <span style="color: green;">{{ item?.collectedUnits?.extraQuantity }}<br></span></div>
                        </ion-col>
                        <ion-col size="6" no-padding>
                          <div *ngIf="item.unitsInPacking.smallQuantity!=0">
                            -Pequeñas:   <span style="color: red;"> {{ item?.unitsInPacking?.smallQuantity - item?.collectedUnits?.smallQuantity }} </span>
                            ({{ item?.unitsInPacking?.smallQuantity }})<br>
                          </div>
                          <div *ngIf="item.unitsInPacking.mediumQuantity!=0">
                            -Medianas:   <span style="color: red;"> {{ item?.unitsInPacking?.mediumQuantity - item?.collectedUnits?.mediumQuantity }} </span>
                              ({{ item?.unitsInPacking?.mediumQuantity }})<br>
                          </div>
                          <div *ngIf="item.unitsInPacking.bigQuantity!=0">
                            -Grandes:    <span style="color: red;"> {{ item?.unitsInPacking?.bigQuantity- item?.collectedUnits?.bigQuantity }} </span>
                              ({{ item?.unitsInPacking?.bigQuantity }})<br>
                          </div>
                          <div *ngIf="item.unitsInPacking.extraQuantity!=0">
                            -Extra G.:   <span style="color: red;">{{ item?.unitsInPacking?.extraQuantity- item?.collectedUnits?.extraQuantity }} </span>
                              ({{ item?.unitsInPacking?.extraQuantity }})<br>
                          </div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items" style="padding-top: 1%;">
                        <ion-col style="text-align: center;">
                          <b>Detalle Modelos</b>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items">
                        <ion-col size="6" no-padding>
                          <div *ngFor="let model of item.modelsCountDicc.collected | keyvalue">-{{ model.key }}: <span style="color: green;">{{ model.value }}</span></div>
                        </ion-col>
                        <ion-col size="6" no-padding>
                          <div *ngFor="let model of item.modelsCountDicc.totalToCollect | keyvalue">-{{ model.key }}: <span style="color: red;">{{ model.value - item.modelsCountDicc.collected[model.key] }}</span> ({{ model.value }})</div>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items" style="padding-top: 1%;">
                        <ion-col style="text-align: center;">
                          <b>---------------------------------</b>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="item.estimatedTrucks" class="rows-details-items">
                        <ion-col  style="text-align: center;" no-padding>
                         Camiones considerados:   <span style="font-weight: 700;">{{ item?.estimatedTrucks }}</span><br>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items">
                        <ion-col style="text-align: center;" no-padding>
                          Daños:   <span style="font-weight: 700;">{{ item?.damages }}</span><br>
                        </ion-col>
                      </ion-row>
                      <ion-row *ngIf="item.estimatedLaps" class="rows-details-items">
                        <ion-col style="text-align: center;" no-padding>
                            Vueltas Estimadas:   <span style="color: red; font-weight: 700;">{{ item?.estimatedLaps }}</span><br>
                        </ion-col>
                      </ion-row>
                      <ion-row class="rows-details-items">
                        <ion-col style="text-align: center;" no-padding>
                            Vueltas Realizadas:   <span style="color: green; font-weight: 700;">{{ item?.doneLaps }}</span><br>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="6" no-padding>
                        </ion-col>
                        <ion-col size="6" no-padding>
                          <ion-button class="continue-button"
                            [routerLink]="['/user-menu/ports/action/', item._id]">
                            <span style="font-size: smaller;">CONTINUAR</span><ion-icon style="color: white;" md="md-arrow-forward"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </div>
                    </ion-grid>
                  </ion-item>
                </ion-list>
              </ion-row>

              <!-- Row for recents ports title -->
              <ion-row>
                <ion-col size="1">
                </ion-col>
                <ion-col size="11">
                  <ion-row (click)=changeRecentListValue()>
                    <ion-col size="2" style="padding-right: 0; padding-top: 0">
                      <ion-icon class="increase-icon" style="color: black; padding-top: 1%;" name="paper"></ion-icon>
                    </ion-col>
                    <ion-col size="10" style="padding-left: 0;">
                      <ion-label style="padding-left: 10%;"> Recientes (5): </ion-label>
                      <ion-icon *ngIf="recentItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropup"></ion-icon>
                      <ion-icon *ngIf="!recentItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropdown"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <!-- Row for recents ports list -->
              <ion-row *ngIf="recentItemsList">
                <ion-list style="width: 100%; border-radius: 10%;">
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Pleades Leader
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          285
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                  <ion-item>
                    <ion-row style="width: 100%;">
                      <ion-col size="8">
                        <ion-label>
                          Morning Caltpso
                        </ion-label>
                      </ion-col>
                      <ion-col size="3" style="text-align: right;">
                        <ion-label>
                          88
                        </ion-label>
                      </ion-col>
                      <ion-col size="1" style="text-align: right;">
                        <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-item>
                </ion-list>
              </ion-row>

            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col size="0.5">
      </ion-col>
  </ion-row>
  <ion-row>
    <ion-fab style="bottom: 10%; right: 10%;" vertical="bottom" horizontal="end" edge>
      <ion-fab-button size="big" (click)="sendRecord()" routerLink="/user-menu/ports/new-port" style="--background: seagreen;">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-row>
</ion-grid>
