
<ion-row style="margin-top:20%;">
  <ion-col size="6" style="padding-right: 0;">
    <ion-list>
      <ion-item (click)="selectOption('1')"
      class="background-color-item"
      [ngClass]="{'background-color-actived': selected_option==1}">
        <ion-label>Puertos Actuales</ion-label>
        <ion-icon style="color: #3a6a10;" name="alarm"></ion-icon>
        <div class="verticalLine"></div>
      </ion-item>
      <!--<ion-item (click)="selectOption('3')"
      class="background-color-item"
      [ngClass]="{'background-color-actived': selected_option==3}">
        <ion-label>Historial </ion-label>
        <ion-icon style="color: #1f4a5c;" name="paper"></ion-icon>
        <div class="verticalLine"></div>
      </ion-item> -->
    </ion-list>
  </ion-col>
  <ion-col size="6" style="padding-left: 0;">
    <ion-list>
      <ion-item class="background-color-item"
      [ngClass]="{'background-color-actived': selected_option==2}"
      (click)="selectOption('2')">
        <ion-label>Nuevo Puerto</ion-label>
        <ion-icon style="color: #e4ffc2;" name="add-circle-outline"></ion-icon>
      </ion-item>
      <!--<ion-item class="background-color-item"
      [ngClass]="{'background-color-actived': selected_option==4}"
      (click)="selectOption('4')">
        <ion-label>Estadísticas</ion-label>
        <ion-icon style="color: #273134" name="stats"></ion-icon>
      </ion-item>-->
    </ion-list>
  </ion-col>
</ion-row>

<!-- CUREENTS PORTS -->
<div *ngIf="selected_option=='1'">
  <ion-row>
      <ion-col size="1">
      </ion-col>

      <ion-col size="10">
        <ion-card class="main-card">
          <ion-card-content>

            <!-- Row for actives ports titles -->
            <ion-row>
              <ion-col size="1">
              </ion-col>
              <ion-col size="11">
                <ion-row (click)=changeActiveListValue()>
                  <ion-col size="2" style="padding-right: 0; padding-top: 0">
                    <ion-icon class="increase-icon" style="color: #17ff0f; padding-top: 1%;" name="wifi"></ion-icon>
                  </ion-col>
                  <ion-col size="10" style="padding-left: 0;">
                    <ion-label style="padding-left: 10%;"> Activos (3): </ion-label>
                    <ion-icon *ngIf="activeItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropup"></ion-icon>
                    <ion-icon *ngIf="!activeItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropdown"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- Row for actives ports list -->
            <ion-row *ngIf="activeItemsList">
              <ion-list style="width: 100%; border-radius: 20%;">
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Pleades Leader
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        285
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </ion-row>

            <!-- Row for recents ports title -->
            <ion-row>
              <ion-col size="1">
              </ion-col>
              <ion-col size="11">
                <ion-row (click)=changeRecentListValue()>
                  <ion-col size="2" style="padding-right: 0; padding-top: 0">
                    <ion-icon class="increase-icon" style="color: black; padding-top: 1%;" name="paper"></ion-icon>
                  </ion-col>
                  <ion-col size="10" style="padding-left: 0;">
                    <ion-label style="padding-left: 10%;"> Recientes (5): </ion-label>
                    <ion-icon *ngIf="recentItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropup"></ion-icon>
                    <ion-icon *ngIf="!recentItemsList" style="margin-left: 5%; margin-top: 5%;" name="arrow-dropdown"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- Row for recents ports list -->
            <ion-row *ngIf="recentItemsList">
              <ion-list style="width: 100%; border-radius: 10%;">
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Pleades Leader
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        285
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-item>
                  <ion-row style="width: 100%;">
                    <ion-col size="8">
                      <ion-label>
                        Morning Caltpso
                      </ion-label>
                    </ion-col>
                    <ion-col size="3" style="text-align: right;">
                      <ion-label>
                        88
                      </ion-label>
                    </ion-col>
                    <ion-col size="1" style="text-align: right;">
                      <ion-icon style="padding-top: 3%;" name="add"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-list>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="1">
      </ion-col>
  </ion-row>

</div>

<div class="variable-component" *ngIf="selected_option=='2'">
  CACA22222
</div>
<div class="variable-component" *ngIf="selected_option=='3'">
  CACA33333
</div>
<div class="variable-component" *ngIf="selected_option=='4'">
  CACA444444
</div>
