<ion-grid no-margin>
  <!-- MAIN DRIVERS TITLE -->
  <div *ngIf="settedOption == 'main'">
    <ion-row>
      <ion-card class="main-card">
        <ion-card-content class="title-card-content">
          <ion-label><b style="color: red; ">T</b>erceros </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </div>

  <!-- BACK ARROW -->
  <div *ngIf="settedOption != 'main'">
    <ion-row style="margin-top: 20%;">
      <ion-col size="3">
        <ion-card class="main-card-back" (click)="changeViewOption('main')">
          <ion-card-content class="title-card-content" no-padding>
            <ion-icon style="font-size:x-large;" name="arrow-back"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="9">
      </ion-col>
    </ion-row>
  </div>

  <!-- MAIN OPTION -->
  <div *ngIf="settedOption == 'main'">
    <ion-row style="margin-top: 10%;">
      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('new')">
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="add"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Crear</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('edit')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="create"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Editar</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card class="main-card-options" (click)="changeViewOption('delete')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center>
                <ion-col text-center no-padding>
                  <ion-icon style="font-size: -webkit-xxx-large;" name="trash"></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col text-center no-padding style="font-size: x-large;">
                  <ion-label>Eliminar</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 5%;">
      <ion-col>
        <ion-card class="main-card-options" (click)="changeViewOption('list')">
          <ion-card-content class="card-options-content">
            <ion-grid no-padding>
              <ion-row text-center style="paddin-left: 5%; paddin-right: 5%;">
                <ion-col size="8" text-center no-padding style="font-size: x-large;">
                  <ion-label>Ver Listado de Terceros</ion-label>
                </ion-col>
                <ion-col size="4" text-center no-padding style="align-self: center;">
                  <ion-icon style="font-size: -webkit-xxx-large;" name="people"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <!-- LIST OPTION -->
  <div *ngIf="settedOption == 'list'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-list">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="thirds" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-label><b>Nombre</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <div style="overflow-y: scroll !important;">
              <ion-item *ngFor="let third of thirds">
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col style="align-self: center;" text-center no-padding>
                      <p text-wrap >{{ third['name'] }}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <!-- NEW OPTION -->
  <div *ngIf="settedOption == 'new'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-new">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="thirds" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col>
                      <ion-label style="font-size: x-large;"><b>Nuevo Tercero</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="3" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <span *ngIf="!diccNewThirdName" class="blank-camp">*</span>
                        <b>Nombre: </b></ion-label>
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Nombre"
                                 [(ngModel)]="diccNewThirdName"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button style="--background: dimgrey;"
                                  [disabled]="!diccNewThirdName"
                                  (click)="validateAllInfo()">
                        <b>Crear Tercero</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>



  <!-- EDIT OPTION -->
  <div *ngIf="settedOption == 'edit'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-new">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="thirds" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col>
                      <ion-label style="font-size: x-large;"><b>Modificar Tercero</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Tercero: </b></ion-label>
                    </ion-col>
                    <ion-col size="8" text-center no-padding>
                      <ion-select [interfaceOptions]="customActionSheetOptions"
                                  interface="action-sheet"
                                  placeholder="Tercero"
                                  [(ngModel)]="thirdToModify"
                                  [disabled]="selectThirdToModifyDisable"
                                  (ngModelChange)="modifyThirdAlert($event)"
                                  class="name-input"
                                  no-padding>
                        <ion-select-option *ngFor="let third of thirds" [value]=third> {{ third['name'] }} </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <div *ngIf="thirdToModify">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="3" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Third: </b></ion-label>
                    </ion-col>
                    <ion-col size="3">
                    </ion-col>
                    <ion-col size="6" text-center no-padding>
                      <ion-input class="name-input" placeholder="Nombre"
                                 [(ngModel)]="diccModifyThirdName"
                                 no-padding></ion-input>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button style="--background: dimgrey;"
                                  [disabled]="!diccModifyThirdName"
                                  (click)="validateAllInfoToModify()">
                        <b>Modificar Tercero</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button (click)='thirdToModify = null; selectThirdToModifyDisable = false' style="--background: dimgrey;">
                        <b>Cancelar</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>



  <!-- DELETE OPTION -->
  <div *ngIf="settedOption == 'delete'">
    <ion-row>
      <ion-col>
        <ion-card class="main-card-new">
          <ion-card-content class="card-list-content">
            <ion-list *ngIf="thirds" style="background: transparent">
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col>
                      <ion-label style="font-size: x-large;"><b>Eliminar Tercero</b></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid no-padding>
                  <ion-row text-center>
                    <ion-col size="4" style="text-align: left;" no-padding>
                      <ion-label style="font-size: medium;">
                        <b>Tercero: </b></ion-label>
                    </ion-col>
                    <ion-col size="8" text-center no-padding>
                      <ion-select [interfaceOptions]="customActionSheetOptions"
                                  interface="action-sheet"
                                  placeholder="Tercero"
                                  [(ngModel)]="thirdToDelete"
                                  class="name-input"
                                  no-padding>
                        <ion-select-option *ngFor="let third of thirds" [value]=third> {{ third['name'] }} </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button style="--background: red;"
                                  [disabled]="!thirdToDelete"
                                  (click)="deleteThirdAlert()">
                        <b>Eliminar Tercero</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid style="margin-top: 5%;" no-padding>
                  <ion-row text-center>
                    <ion-col text-center no-padding>
                      <ion-button (click)='thirdToDelete = null;' style="--background: dimgrey;">
                        <b>Cancelar</b>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>



</ion-grid>
