.main-form {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20%;
	overflow-y: scroll!important;
}

.forecast_container{
  overflow-x: scroll!important;
  // overflow-y: hidden;
  //word-wrap: break-word;
  height: auto;
  font-size:0.8em;
  font-weight:700;
}

.preview {
  --min-height: 130px;
}

.preview-col {
  width: auto;
  border-left-width: thin;
  border-left-color: black;
  border-left-style: solid;
  border-right-width: thin;
  border-right-color: black;
  border-right-style: solid;
}

.header-row {
  background-color: #a2a4ab;
  color: white;
  padding-right: 10px;
  padding-left: 5px;
}

.info-row {
  background-color: greenyellow;
  color: black;
  padding-right: 10px;
  padding-left: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.custom-select{
  width: 100%;
  max-width: inherit;
  padding-top: 5px;
  padding-bottom: 5px;
}

.models-items {
  font-size: smaller;
}

.model-without-size {
  font-size: large;
  color: red;
}

.custom-select-size{
  width: 100%;
  max-width: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.vin-digits-text {
  color: #808080cf;
  font-size: small;
}
