<ion-list *ngIf="!isEmpty(driversDicc)" class="main-form">
  <ion-item style="font-weight: 700;">
    <ion-label style="text-align: center; font-size: xx-large;"><b style="color: red;">A</b><b>sociar Equipos </b></ion-label>
  </ion-item>
  <ion-item *ngFor="let driver of driversDicc | keyvalue">
    <ion-grid>
      <ion-row>
        <ion-label><b> {{ driver.value.name }} </b></ion-label>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-row text-center align-items-center>
            <ion-col style="color: gray;">
              <span *ngIf="!driversAssociatedDicc[driver.key]['truck']" class="without-info">*</span>Camión:
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!isEmpty(trucks)">
            <ion-col>
              <ion-select class="truck-select"
                          placeholder="----"
                          [(ngModel)]="driversAssociatedDicc[driver.key]['truck']"
                          (ngModelChange)="truckSelectChange(driver.value, $event)">
                <ion-select-option *ngFor="let truck of trucks | keyvalue" [value]="truck.key">{{ truck.key }} - {{ truck.value.model }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row text-center>
            <ion-col style="color: gray;">
              <span *ngIf="!driversAssociatedDicc[driver.key]['ramp']" class="without-info">*</span>Rampla:
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!isEmpty(ramps)">
            <ion-col>
              <ion-select class="ramp-select"
                          placeholder="----"
                          [(ngModel)]="driversAssociatedDicc[driver.key]['ramp']"
                          (ngModelChange)="rampSelectChange(driver.value, $event)">
                <ion-select-option *ngFor="let ramp of ramps | keyvalue" [value]="ramp.key">{{ ramp.key }} - {{ ramp.value.model }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <div *ngIf="!isEmpty(currentPort['consideredThirds'])">
  <ion-item>
    <ion-label style="font-size: larger;"><b style="color: red;">T</b><b>erceros </b></ion-label>
  </ion-item>
  <ion-item *ngFor="let third of currentPort['consideredThirds']">
    <div *ngIf="third['nickName']">
      <ion-label>
        <span *ngIf="!thirdsPlatesNumbersDicc[third?.third?.name + ' - ' + third?.nickName]" class="without-info">*</span><b>{{ third?.third?.name }} - {{ third['nickName'] }}</b></ion-label>
        <ion-input [(ngModel)]="thirdsPlatesNumbersDicc[third?.third?.name + ' - ' + third?.nickName]" text-center placeholder="Digite Patente AABB49"></ion-input>
    </div>
    <div *ngIf="!third['nickName']">
    <ion-label>
      <span *ngIf="!thirdsPlatesNumbersDicc[third?.third?.name]" class="without-info">*</span><b>{{ third?.third?.name }}</b></ion-label>
      <ion-input [(ngModel)]="thirdsPlatesNumbersDicc[third?.third?.name]" text-center placeholder="Digite Patente AABB49"></ion-input>
    </div>
  </ion-item>
  <ion-item text-center>
    <ion-button expand="block"
                color="medium"
                size="large"
                (click)="checkAllDriversAndThirdWithInfo()"
                style="margin-left: inherit;">
      <b>Confirmar Equipos</b>
    </ion-button>
  </ion-item>
  </div>
</ion-list>
