<ion-menu side="start" menuId="first" content-id="content">
  <ion-header>
    <ion-toolbar color="dark blue">
      <ion-title>
        Menú<ion-icon style="padding-left: 75%;" name="arrow-back" (click)=close()></ion-icon>
      </ion-title>
       <ion-buttons end></ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)=activateProfile()><ion-icon style="padding-right: 10%;" name="person"></ion-icon> Perfil</ion-item>
      <ion-item (click)=activatePorts()><ion-icon style="padding-right: 10%;" name="boat"></ion-icon> Puertos</ion-item>
      <ion-item (click)=activateStats()><ion-icon style="padding-right: 10%;" name="trending-up"></ion-icon> Estadísticas</ion-item>
      <ion-item (click)=activateDamages()><ion-icon style="padding-right: 10%;" name="medkit"></ion-icon> Daños</ion-item>
      <ion-item (click)=activateNotes()><ion-icon style="padding-right: 10%;" name="clipboard"></ion-icon> Notas</ion-item>
      <ion-item><ion-icon style="padding-right: 10%;" name="share"></ion-icon> Compartir Info</ion-item>
      <ion-item><ion-icon style="padding-right: 10%;" name="power"></ion-icon> Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon style="width: 100%; height: 100%;" (click)="openFirst()" name="menu"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title style="text-align: left;">{{ menu_title }}</ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-img style="width:100%; height:100%;" src="assets/berrios-logo-oficial.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="myView" id="content">
  <div class="variable-component" *ngIf="profile_active">
    <app-user-profile></app-user-profile>
  </div>
  <div class="variable-component" *ngIf="ports_active">
    <app-ports></app-ports>
  </div>
  <div class="variable-component" *ngIf="stats_active">
  </div>
  <div class="variable-component" *ngIf="damages_active">
  </div>
  <div class="variable-component" *ngIf="notes_active">
  </div>

</ion-content>
