.main-form {
  margin-left: 5%;
  margin-right: 6%;
	overflow-y: scroll!important;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.main-form-thirds {
  margin-left: 8%;
  margin-right: 3%;
	overflow-y: scroll!important;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

 .custom-slide {
   overflow-y: scroll!important;
   width: 365px !important;
   height: 430px !important;
 }

 .third-without-name {
   font-size: large;
   color: red;
 }

.laps-per-driver-row {
  border-bottom-width: medium;
  border-bottom-color: #6899fc;
  border-bottom-style: double;
  padding-top: 1%;
}
