
<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="segment" value="drivers"
  style="margin-top: 20%; background: ghostwhite;">
  <ion-segment-button value="drivers">
    <ion-label>Conductores
      <ion-badge *ngIf="segment=='drivers'" color="primary">{{ activeDriversCount }}</ion-badge>
      <ion-badge *ngIf="segment!='drivers'"color="medium">{{ activeDriversCount }}</ion-badge>
    </ion-label>
  </ion-segment-button>
  <ion-segment-button value="thirds">
    <ion-label>Terceros
      <ion-badge *ngIf="segment=='thirds'" color="primary">{{ activeThirdsCount }}</ion-badge>
      <ion-badge *ngIf="segment!='thirds'" color="medium">{{ activeThirdsCount }}</ion-badge>
    </ion-label>
  </ion-segment-button>
</ion-segment>
<ion-slides [options]="slideOpts" (ionSlideDidChange)="slideChanged($event)" style="margin-top: 35%; overflow-y: scroll!important; position: absolute;">
  <!-- Drivers Slide -->
  <ion-slide class="custom-slide" value="slide1">
    <ion-list class="main-form">
      <ion-item>
        Selección de Conductores
      </ion-item>
      <ion-item *ngFor="let driver of activeDriversDicc | keyvalue">
        <ion-label> {{driver.key}} </ion-label>
        <ion-toggle [(ngModel)]="activeDriversDicc[driver.key]"
          (ionChange)="countActiveDrivers()"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-slide>

  <!-- Thirds Slide -->
  <ion-slide class="custom-slide" value="slide2">
    <ion-list class="main-form">
      <ion-item>
        Selección de Terceros
      </ion-item>
      <ion-item *ngFor="let third of thirdsDicc | keyvalue">
        <ion-grid>
          <ion-row>
            <ion-col size="7">
              <ion-label> {{third.key}} </ion-label>
            </ion-col>
            <ion-col size="5" style="text-align: right;">
              <ion-button (click)="changeNumber(third.key, -1)" shape="round" color="light">-</ion-button>
              <ion-button shape="round" color="light">{{ thirdsDicc[third.key] }}</ion-button>
              <ion-button (click)="changeNumber(third.key, 1)" shape="round" color="light">+</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="thirdsDicc[third.key] > 1" align-items-center>
            <div *ngFor="let item of createArray(thirdsDicc[third.key]); let i = index">
              <ion-row>
                <span *ngIf="nameThirdsDicc[third.key][i + 1] == ''" class="third-without-name">*</span>
                <ion-input type=text placeholder="Nombre Conductor {{ i + 1 }}"
                          [(ngModel)]="nameThirdsDicc[third.key][i + 1]"></ion-input>
              </ion-row>
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-slide>
</ion-slides>

<ion-fab style="bottom: 1%; right: 2%;" vertical="bottom" horizontal="end" edge>
  <ion-fab-button size="big" (click)="checkAllWithName()" style="--background: seagreen;">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
