<ion-header>
  <ion-toolbar>
    <ion-title>Vista Previa Puerto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="preview">
      <ion-content scrollX="true" scrollY="false">
      <ion-grid class="forecast_container">
          <ion-row nowrap>
              <ion-col class="preview-col" *ngFor="let key of headers" no-padding nowrap>
                <ion-row class="header-row" nowrap>
                  {{ key }}
                </ion-row>
                <ion-row class="info-row" *ngFor="let model of previewObjects" nowrap>
                  {{ model[key] }}
                </ion-row>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-content>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Confirmar
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>
