<ion-header>
  <ion-toolbar>
    <ion-title>Vista Previa Puerto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      Packing
    </ion-item>
    <ion-item class="preview">
      <ion-content scrollX="true" scrollY="false">
      <ion-grid class="forecast_container">
          <ion-row nowrap>
              <ion-col class="preview-col" *ngFor="let key of headers" no-padding nowrap>
                <ion-row class="header-row" nowrap>
                  {{ key }}
                </ion-row>
                <ion-row class="info-row" *ngFor="let model of previewObjects; let i = index" nowrap>
                  <span *ngIf="key != 'vin'"> {{ model[key] }} </span>
                  <span *ngIf="key == 'vin'"> {{ previewVins[i] }} </span>
                </ion-row>
              </ion-col>
          </ion-row>
      </ion-grid>
      </ion-content>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            Nombre Puerto:
          </ion-col>
          <ion-col style="text-align: right;" size="7">
            {{ shipName }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            Total Unidades:
          </ion-col>
          <ion-col style="text-align: right;" size="6">
            {{ totalCount }}
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let size of headerSizeDicc">
          <ion-col size="1">
          </ion-col>
          <ion-col *ngIf="size=='pequeno'" size="6">
            Pequeños:
          </ion-col>
          <ion-col *ngIf="size=='mediano'" size="6">
            Medianos:
          </ion-col>
          <ion-col *ngIf="size=='grande'" size="6">
            Grandes:
          </ion-col>
          <ion-col *ngIf="size=='extraGrande'" size="6">
            Extra Grandes:
          </ion-col>
          <ion-col size="1">
          </ion-col>
          <ion-col style="text-align: right;" size="3">
            {{ countPerSizeDicc[size] }}
          </ion-col>
          <ion-col size="1">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            Carga Estimada por Rampla:
          </ion-col>
          <ion-col class="align-text-middle" size="7">
            {{ estimatedLoad }} unidades.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="success">
    <ion-button expand="full" fill="clear" color="light" (click)="confirmModal()">
      Confirmar
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="danger">
    <ion-button expand="full" fill="clear" color="light" (click)="closeModal()">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-footer>
