<ion-list class="main-form">
  <ion-item text-center style="font-weight: 700; font-size: x-large">
    <ion-label><b style="color: red;">G</b>estión de Información </ion-label>
  </ion-item>
  <ion-item routerLink="/user-menu/data-management/drivers">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          Gestión de Conductores
        </ion-col>
        <ion-col size="2" style="text-align: right;">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-col>
      </ion-row>
     </ion-grid>
   </ion-item>
   <ion-item routerLink="/user-menu/data-management/thirds">
     <ion-grid>
       <ion-row>
         <ion-col size="10">
           Gestión de Terceros
         </ion-col>
         <ion-col size="2" style="text-align: right;">
           <ion-icon name="arrow-forward"></ion-icon>
         </ion-col>
       </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item routerLink="/user-menu/data-management/trucks">
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            Gestión de Camiones
          </ion-col>
          <ion-col size="2" style="text-align: right;">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
       </ion-grid>
     </ion-item>
     <ion-item routerLink="/user-menu/data-management/ramps">
       <ion-grid>
         <ion-row>
           <ion-col size="10">
             Gestión de Ramplas
           </ion-col>
           <ion-col size="2" style="text-align: right;">
             <ion-icon name="arrow-forward"></ion-icon>
           </ion-col>
         </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item routerLink="/user-menu/data-management/importers">
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              Gestión de Importadores/Clientes
            </ion-col>
            <ion-col size="2" style="text-align: right;">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
         </ion-grid>
       </ion-item>
</ion-list>
