.main-card {
  background: rgba(237, 237, 237, 0.8);
  border-radius: 50px;
  width: 100%;
  height: 70%;
  margin-top: 25%;
  margin-right: 10%;
  --color: black;
}

.info-col {
  padding-top: 5% !important;
  padding-left: 5% !important;
}
